GEMINI_API_KEY=AQ.Ab8RN6JLElTqEyzKgF7HWDX3KBk6C29O8XM26Y8A_wk_bEzkMQ
FLASK_SECRET_KEY=zdcVx5tr9VCjkXbUvTaMgynNyYewjrbBsUjt9MEuPlg 
DATABASE_URL=sqlite:///sentinelscan.db
BLOCKED_DOMAINS=google.com,youtube.com,facebook.com
